<ion-app>
  <!--
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Navigate</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
-->

  <ion-tabs >
    <ion-tab-bar slot="bottom" *ngIf="this.keycloak.getKeycloakInstance().subject">
  
      <ion-tab-button tab="profile" id="profile_button" #profile_button>
        <ion-icon name="cog" id="cog"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="contactlist">
        <ion-icon name="chatbox"></ion-icon>
        <ion-label>Chat</ion-label>
        <ion-badge>2</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-app>

