<ion-header>
  <ion-toolbar>
    <ion-title>Meine Skins</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar [(ngModel)]="searchString"></ion-searchbar>

  <div class="list_skins" no-bounce>
    <div id="add_skin_container" routerLink="/skinselection">
      <div id="add_skin_circle">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      
      <p>Skin hinzufügen</p>
    </div>
    <div class="list_item" *ngFor="let skin of skinService.skins, let i=index">
      <small-skin [skin]="skin" *ngIf="matchesFilter(skin)" (click)="changeSelection(skin)"></small-skin>
    </div>
  </div>

  <detail-skin [skin]="currentSkin"></detail-skin>

</ion-content>