#connect {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 11;

  
}

#map {
  height: 100%;
  overflow: hidden;
  background-color: var(--ion-color-tertiary);
}

#map_canvas{
  height: 100%;
  width: 100%;
}