<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="edit-profile" (click)="dismissModal()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>

  <div id="content">
    <div id="header">
      <ion-img id="logo" src="../assets/connect_img/logo/Connect_white.png"></ion-img>
    </div>
    <div id="body">
  

     <h3>Unser Ziel</h3>
      <p class="text">
        Connect ist eine App, die Leute <strong>schnell und einfach</strong> zusammenbringt. Anhand von bestimmten Aktivitäten (Sport, Freizeit, Hobbies, …) kann man Menschen in seiner Nähe finden, mit denen man etwas unternehmen kann. 
        <br>
        <br>
        <br>
        Jetzt kann man ganz leicht einen Mitspieler für die nächste Golfpartie finden oder sich gegenseitig beim Mittagessen <strong>Gesellschaft leisten.</strong> 
        <br>
        <br>
        <br>
        
        <strong>Connect ist keine Dating-App!</strong> 
        Ihr könnt euch ohne Druck und Erwartungen treffen und einfach eine gute Zeit miteinander verbringen. 
        <br>
        <br>
        <br>
        Connect verbindet Leute, die etwas <strong>gemeinsam unternehmen</strong> wollen. Wir glauben, dass jeder Mensch das Recht auf Gesellschaft hat. 
        <br>
        <br>
        <br>
        Wir verzichten auf oberflächliche Auswahlmethoden wie Profilbilder oder ähnliches und setzten auf das Zufallsprinzip. Damit das auch funktioniert, wünschen wir uns von unseren Usern eine <strong>offene und tolerante Einstellung.</strong>
     
        </p>
    
  
    </div>
  </div>

</ion-content>
