<ion-header>
  <ion-toolbar>
    <ion-title>Meine Skins</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar [(ngModel)]="searchString"></ion-searchbar>

  <div class="list_skins" no-bounce>
    <div id="add_skin_container" (click)="presentModal()">
      <div id="add_skin_circle">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <p>Skin hinzufügen</p>
    </div>
    <div class="list_item" *ngFor="let myskin of mySkinService.myskins, let i=index">
      <small-skin [myskin]="myskin" [current]="mySkinService.current && myskin.id == mySkinService.current.id" *ngIf="matchesFilter(myskin)" (click)="changeSelection(myskin)"></small-skin>
    </div>
  </div>

  <detail-skin *ngIf="mySkinService.current" [myskin]="mySkinService.current" (updated)="updateSkin(mySkinService.current)" (deleted)="deleteSkin(mySkinService.current)"></detail-skin>

</ion-content>