.list_skins {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    //Hide Scrollbar!!!!
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }

    .list_item {
        display: flex;
    }

    .list_item small-skin{
        padding-left: 12px;
    }
}

#add_skin_container {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;

    #add_skin_circle {
        max-width: 60px;
        max-height: 60px;
        min-width: 60px;
        min-height: 60px;
        border-radius: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--ion-color-light);

        ion-icon {
            font-size: 24px;
            color: var(--ion-color-primary);
            --ionicon-stroke-width: 70px;
        }
    }

    p {
        width: 125px;
        padding: 0;
        margin: 0;
        color: var(--ion-color-secondary);
        font-family: 'Open Sans Semi';
        text-align: center;
    }
}