<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>skinselection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar animated></ion-searchbar>
<ion-chip>
  <ion-label>Sport</ion-label>
</ion-chip>

  <ion-grid>
  <ion-row>
    <ng-container *ngFor="let skin of skinsService.skins; index as i;">
    <ion-col sizeLg="6" sizeMd="6" sizeXs="6"  *ngIf="skin.category.indexOf('Sport') !== -1">
      <app-skinselection-card [skin]=skin></app-skinselection-card>
    </ion-col>
  </ng-container>
  </ion-row>
</ion-grid>

 

</ion-content>
