<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>skinselection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top-elements">
<ion-searchbar animated [(ngModel)]="searchString"></ion-searchbar>




<ng-container *ngFor="let category of categoryService.categories; index as i;">
<ion-chip [ngClass]="currCat.title == category.title ? 'currentCategory': 'category'" (click)="setCurrCat(category)">
  <ion-label>{{category.title}}</ion-label>
</ion-chip>
</ng-container>


</div>


  <ion-grid>
  <ion-row>
    <ng-container *ngFor="let skin of skinsService.skins; index as i;">
    
    <ion-col sizeLg="6" sizeMd="6" sizeXs="6" *ngIf="check(skin)">
      <!-- -->
    
      <app-skinselection-card [skin]=skin (updated)="updateSkin(skin)"></app-skinselection-card>
    </ion-col>
  </ng-container>
  </ion-row>
</ion-grid>

 

</ion-content>
