.chat-user {
    width: 99vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flex {
    height: 8vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

#username {
    color: var(--ion-color-primary);
}

#chat-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

#messages {
    background-color: var(--ion-color-secondary);
    border-radius: 100%;
    height: 2vh;
    width: 2vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#messages-flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5vh;
}

#unreadMessage {
    font-weight: bold; 
}

ion-badge {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

ion-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.rightBox {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: flex-start;
}

.rightBox p {
    font-size: x-small;
}

.timeDisplay {
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
}

.meetUpBadge {
background-color: #E32B29;
}