

<div *ngIf="userExists(user)" class="chat-user">
  
  <ion-avatar *ngIf="user.custom" slot="start">
    <img  src={{pfp}}>
    
  </ion-avatar>
  <ion-icon id="icon" color="primary" slot="start" *ngIf="!user.custom" name="location-sharp"></ion-icon>
  <ion-label id="chat-flex">
    <div id="flex">
      <h2 *ngIf="user" id="username">{{user.userName}}</h2>
      <h2 *ngIf="!user.custom && room.meeting && room.meeting.name != null" id="username"> {{room.meeting.name}}</h2>
      <h2 *ngIf="!user.custom && room.meeting && room.meeting.name == null" id="username"> Meeting {{room.meeting.id}}</h2>
      <p *ngIf="this.unseenMessages<=0 && this.newMeetUp == false && !this.myMeetUp">{{this.latestMessage}}</p>
      <p class="bold" *ngIf="this.unseenMessages>0 && this.newMeetUp == false && !this.myMeetUp">{{this.latestMessage}}</p>
      <p class="bold" *ngIf="this.newMeetUp">I wanna meet up with you!</p>
      <p class="bold" *ngIf="this.myMeetUp && this.newMeetUp == false">Mein MeetUp wurde {{this.myMeetUpStatus}}</p>
    </div>
    <div class="rightBox">
      <p class="timeDisplay" *ngIf="this.latestMessageCreated">{{this.timeDisplay}}</p>
      <ion-badge *ngIf="newMeetUp && this.myMeetUp == false" class="meetUpBadge">
        <p>M</p>
      </ion-badge>
      <ion-badge *ngIf="myMeetUp" class="meetUpBadge">
        <p>M</p>
      </ion-badge>
    </div>
      <ion-badge *ngIf="this.unseenMessages>0">{{this.unseenMessages}}</ion-badge>
  </ion-label>
  

  
</div>

<!--
        <p *ngIf="user.unreadMessages > 0" id="unreadMessage">{{user.latestMessage}}</p>
      <p *ngIf="user.unreadMessages == 0" id="readMessage">{{user.latestMessage}}</p>
    
    <div id="messages-flex">
      <p *ngIf="user.unreadMessages > 0" id="messages">{{user.unreadMessages}}</p>
    </div>
-->
