<ion-header>
  <ion-toolbar>
    <div id="toolbar">
      <ion-back-button defaultHref="contactlist" (click)="dismissModal()"></ion-back-button>
      <div *ngIf="otherUser.custom" id="profile" (click)="profileFriend(otherUser)">
        <ion-avatar>
          <img  id="profilepicture" src="{{pfp}}">
        </ion-avatar>
        <ion-label>
          {{otherUser.userName}}
        </ion-label >
      </div>
      <div *ngIf="!otherUser.custom" id="profile" (click)="openMeetup(chatservice.selectedRoom.meeting.id)">
        <ion-icon color="primary" class="icon" *ngIf="!otherUser.custom" name="location-sharp"></ion-icon>
        <ion-label *ngIf="chatservice.selectedRoom.meeting.name == null">Meetup {{chatservice.selectedRoom.meeting.id}}</ion-label>
        <ion-label *ngIf="chatservice.selectedRoom.meeting.name != null">{{chatservice.selectedRoom.meeting.name}}</ion-label>
      </div>
      <ion-icon *ngIf="otherUser.custom" id="meeting-icon" (click)="presentModal()" name="walk"></ion-icon>
      <ion-icon *ngIf="!otherUser.custom" (click)="leaveMeetup(chatservice.selectedRoom)" class="icon" color="primary" name="exit"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="messageFlex">
    <div *ngFor="let meetUp of this.meetUpsAccepted" class="MeetUp">
      <p>Meetup on</p>
      <p>{{this.dateService.returnDateWithoutTime(meetUp)}} at
        {{this.dateService.returnTimeString(meetUp)}}</p>
      <p>was <b>accepted</b></p>
      <ion-button (click)="setSeen(meetUp)" size="small">Understood!</ion-button>
    </div>

    <div *ngFor="let meetUp of this.meetUpsDeclined" class="MeetUp">
      <p>Meetup on</p>
      <p>{{this.dateService.returnDateWithoutTime(meetUp)}} at
        {{this.dateService.returnTimeString(meetUp)}}</p>
      <p>was <b>declined</b></p>
      <ion-button (click)="setSeen(meetUp)" size="small">Understood!</ion-button>
    </div>

    <div class="MeetUp" *ngFor="let meetUp of this.meetUps">
      <b>Let's meet up!</b>
      <ion-button (click)="showLocation(meetUp, false)">
        <ion-icon name="location-outline"></ion-icon> Location
      </ion-button>
      <p>On {{ this.dateService.returnDateWithoutTime(meetUp)}} at
        {{this.dateService.returnTimeString(meetUp)}}</p>
      <div class="buttonBox">
        <ion-button (click)="setStatusOfMeetingD(meetUp)" fill="outline" size="small">Decline</ion-button>
        <ion-button (click)="setStatusOfMeetingA(meetUp)" size="small">Accept</ion-button>
      </div>
    </div>

    <div class="messageDiv" *ngFor="let message of chatservice.messages, let i = index">
      <div class="dateBox" *ngIf="newDay(message,chatservice.messages[i-1])">
        {{
          this.dateService.returnDateWithoutTime(message)
        }}</div>
      <div *ngIf="yousent(message)" class="youSent">
        <div *ngIf="imageIsNotNull(message) else youNoImage">
          <img class="youSentImage" src="data:image/png;base64,{{message.image}}">
          <p class="imageMessage">{{message.message}}</p>
        </div>
        <ng-template #youNoImage>
          <p class="message">{{message.message}}</p>
          <p *ngIf="message.message.length>29" class="timeOnWrap">{{this.dateService.returnTimeString(message)}}</p>
          <p *ngIf="message.message.length<=29" class="time">{{this.dateService.returnTimeString(message)}}</p>
          <!-- <p>{{message.created | date:'shortTime'}}</p> -->
        </ng-template>
      </div>
      <div *ngIf="this.showNewMsgLine && this.unseenMessages> 0 && !yousent(message) && i == this.pos && i !== 0">
        <div class="newMsgBox">
          <p class="smallFont">NEW</p>
          <div class="hline"></div>
        </div>
      </div>
      <div *ngIf="!yousent(message)" class="otherSent">
        <div *ngIf="imageIsNotNull(message) else otherNoImage">
          <img class="otherSentImage" src="data:image/png;base64,{{message.image}}">
          <p class="imageMessage">{{message.message}}</p>
        </div>
        <ng-template #otherNoImage>
          <p class="message">{{message.message}}</p>
          <p *ngIf="message.message.length>29" class="timeOnWrap">{{this.dateService.returnTimeString(message)}}</p>
          <p *ngIf="message.message.length<=29" class="time">{{this.dateService.returnTimeString(message)}}</p>
        </ng-template>
      </div>

    </div>

  </div>
</ion-content>

<ion-footer>
  <div id="inputdiv">
    <div id="input">
      <ion-input placeholder="Nachricht..." [(ngModel)]="sendText"></ion-input>
      <ion-icon id="camera" name="camera" (click)="doSendImage()"></ion-icon>
    </div>
    <ion-icon id="send" name="send" (click)="doSend()"></ion-icon>
  </div>
</ion-footer>