.skinselection-add-button {
    border-radius: 100%;
    background: var(--dark-green);
    height: 30px;
    width: 30px;
    float: right;
    margin-bottom: 5%;
}

.skinselection-description {
    width: 95%;
    font-size: 12px;
}

.skinselection-card {
    margin: 6px;
}

.skinselection-card ion-card-title {
    font-size: 16px;
}

.add_skin_circle, .disabled_add_skin_circle {
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-primary);
    margin: 10px -8px 10px 0;
    float: right;

    ion-icon {
        font-size: 19px;
        color: #fff;
        --ionicon-stroke-width: 90px;
    }
}

.disabled_add_skin_circle {
    opacity: 50%;
}
#verify{
    position: absolute;
    top: 1px;
    margin-left: 2px;
    width: 5vw;
    height: 5vw;
    color: var(--ion-color-primary)
}