<ion-card class="skinselection-card">

  
  <img [src]="this.imageReady" alt="not loading"/>

  <ion-card-content>
    
    <ion-card-title>{{skin.title}}   <ion-icon name="checkmark-circle" *ngIf="this.skin.verified" id="verify"></ion-icon></ion-card-title>
    
    <p class="skinselection-description">
      {{skin.description}}
    </p>

    <div [ngClass]="following ? 'disabled_add_skin_circle' : 'add_skin_circle'" (click)="addToMySkin()" >
      <ion-icon name="add-outline"></ion-icon>
    </div>
  </ion-card-content>

</ion-card>