<!--<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content fullscreen>

  <div id="content">
    <div id="header">
      <ion-img id="logo" src="../assets/connect_img/logo/Connect_white.png"></ion-img>
    </div>
    <div id="body">

      <div id="container">
        <ion-item lines="full" *ngIf="login_toggle">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <!--<ion-label position="stacked">Username</ion-label>-->
          <ion-input clearInput [(ngModel)]="username" placeholder="max_muster"></ion-input>
        </ion-item>
        <ion-item lines="full" *ngIf="login_toggle">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <!--<ion-label position="stacked">Password</ion-label>-->
          <ion-input clearInput type="password" [(ngModel)]="password" placeholder="*********"></ion-input>
        </ion-item>

        <ion-button shape="round" color="primary" expand="block" (click)="login()" *ngIf="login_toggle">Login
        </ion-button>

        <form *ngIf="!login_toggle" #f="ngForm" (ngSubmit)="regis(f)">
          <div id="split">
            <ion-item lines="full" id="first">
              <ion-label position="stacked">Firstname</ion-label>
              <ion-input ngModel name="reg_first" #firstname="ngModel" required placeholder="Max"></ion-input>
            </ion-item>
            <ion-item lines="full" id="last">
              <ion-label position="stacked">Lastname</ion-label>
              <ion-input ngModel name="reg_last" #lastname="ngModel" required placeholder="Muster"></ion-input>
            </ion-item>
          </div>
          <span class="help-block" *ngIf="!firstname.valid && !lastname.valid  && firstname.touched && lastname.touched">Please enter a first and lastname</span>
          <ion-item lines="full">
            <ion-label position="stacked">Username</ion-label>
            <ion-input ngModel name="reg_username" required #username="ngModel" placeholder="max_muster"></ion-input>
          </ion-item>
          <span class="help-block" *ngIf="!username.valid && username.touched">Please enter a username</span>
          <ion-item lines="full">
            <ion-label position="stacked">Email</ion-label>
            <ion-input ngModel name="reg_email" type="email" #email="ngModel" required email
              placeholder="max_muster"></ion-input>
          </ion-item>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
          <ion-item lines="full">
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" ngModel name="reg_password" #password="ngModel" required placeholder="*********">
            </ion-input>
          </ion-item>
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password</span>

          <ion-button shape="round" color="primary" expand="block" type="submit" [disabled]="!f.valid">Sign up
          </ion-button>
        </form>


        <p (click)="toggleLogin()" *ngIf="login_toggle" id="regis_text">Don't have an account? <b>Sign up</b></p>
        <p (click)="toggleLogin()" *ngIf="!login_toggle" id="regis_text">Already have an account? <b>Sign in</b></p>
      </div>

      <p><small>&copy; Copyright 2021, Connect GmbH</small></p>

    </div>
  </div>

</ion-content>