
<div class="chat-user">
  <ion-avatar slot="start">
    <img src="{{user.profilePicture}}">
  </ion-avatar>
  <ion-label id="chat-flex">
    <div id="flex">
      <h2 id="username">{{user.username}}</h2>
      <p *ngIf="user.unreadMessages > 0" id="unreadMessage">{{user.latestMessage}}</p>
      <p *ngIf="user.unreadMessages == 0" id="readMessage">{{user.latestMessage}}</p>
    </div>
    <div id="messages-flex">
      <p *ngIf="user.unreadMessages > 0" id="messages">{{user.unreadMessages}}</p>
    </div>
  </ion-label>
</div>