.chat-user {
    width: 99vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flex {
    height: 8vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

#username {
    color: var(--ion-color-primary);
}