<ion-header>
  <ion-toolbar>
    <div id="toolbar">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>Skin Kontakte</ion-title>
      <ion-icon name="settings-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-list id="chats">
    <ion-item class="chat" *ngFor="let user of contactService.chats, let i = index">
      <app-detail-contactlist [user]="user" (click)="selectChat(user)"></app-detail-contactlist>
    </ion-item>
  </ion-list>
</ion-content>
