#toolbar{
    display: flex;
    flex-direction: row;
    width: 99%;
    align-items: center;
    justify-content: space-between;
}

.chat {
    width: 99%;
    display: flex;
    flex-direction: row;
}

body {
    background-color: #ffffff;
}
