<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>

  <feature name="PhotoViewer">
    <param name="ios-package" value="PhotoViewer"/>
  </feature>

  <feature name="Camera">
    <param name="ios-package" value="CDVCamera"/>
  </feature>

  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVWKInAppBrowser"/>
    <param name="onload" value="true"/>
  </feature>

  <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
   <string>We use your location for full functionality of certain app features.</string>
</edit-config>

  
</widget>