<ion-header>
  <!--<ion-toolbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="height: 20%; width: 100%; background-color:var(--ion-color-primary)"></div>
    <div class="container">
      <div class="mid">
        <img class="round" width="150" height="150" src="../../assets/normalguy.jpg">
      </div>
      <h2 id="name">{{user.username}}</h2>

      <div class="descBox">
       <p>{{user.desc}}</p>
      </div>

      <ion-button color="secondary" size="default" shape="round" style="margin-top: 3vh;">Anpassen</ion-button>

      <div style="color: var(--ion-color-secondary)" class="photo-slider-con">
        <p style="left:0;">Über mich</p>
        <div style="display: flex;flex-flow: row nowrap; height: 100%; width: 100%">
        <ion-card style="height: 75%; width: 33%"></ion-card>
        <ion-card style="height: 75%; width: 33%"></ion-card>
        </div>
      </div>


      <div class="social-media-con">
        <p style="left:0; color: var(--ion-color-secondary);">Social Media</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon color="secondary"  name="logo-instagram"></ion-icon>
              Der Max
            </ion-col>
            <ion-col>
              <ion-icon color="secondary"  name="logo-linkedin"></ion-icon>
              MaxMusterLinkedIn
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="secondary"  name="logo-facebook"></ion-icon>
              MaxMuster
            </ion-col>
            <ion-col>
              <ion-icon color="secondary" name="logo-twitter"></ion-icon>
             DerMaxTwitter
            </ion-col>
          </ion-row>


        </ion-grid>
      </div>




    </div>
  </div>

</ion-content>