<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="height: 20vh; width: 100vw; background-color:var(--ion-color-primary)"></div>
    <div class="container">
      <div class="mid">
        <img class="round" width="150vw" height="150vh" src="../../assets/normalguy.jpg">
      </div>
      <h2 id="name">{{user.username}}</h2>

      <div class="descBox">
        <p>{{user.desc}}</p>
      </div>

      <ion-button color="secondary" size="default" shape="round" style="margin-top: 3vh;">Anpassen</ion-button>

      <div class="photo-slider-con">
        <p style="left:0;">Über mich</p>
        <div style="display: flex;flex-flow: row nowrap; height: 100%; width: 100%;margin-top: -20px;">
          <ion-slides [options]="slideOpts" pager="false" style="width: 100%;">
            <ion-slide>
              <ion-card></ion-card>
              <ion-card></ion-card>   
              <ion-card></ion-card>
            </ion-slide>
            <ion-slide>
              <ion-card></ion-card>
              <ion-card></ion-card>   
              <ion-card></ion-card>
            </ion-slide>
           
            
          </ion-slides>
        </div>
      </div>


      <div class="social-media-con">
        <p style="color: var(--ion-color-secondary);">Social Media</p>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon color="secondary" name="logo-instagram"></ion-icon>
              Der Max
            </ion-col>
            <ion-col>
              <ion-icon color="secondary" name="logo-linkedin"></ion-icon>
              MaxMusterLinkedIn
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="secondary" name="logo-facebook"></ion-icon>
              MaxMuster
            </ion-col>
            <ion-col>
              <ion-icon color="secondary" name="logo-twitter"></ion-icon>
              DerMaxTwitter
            </ion-col>
          </ion-row>


        </ion-grid>
      </div>




    </div>
  </div>

</ion-content>