<ion-header>
  <ion-toolbar>
    <ion-title>Edit profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['../about']">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="wrapper">
    <div id="background"></div>
    <div class="container">
      <div class="mid" (click)="loadFromStorage()">

        <div class="pfpBox">
          <div class="rounded">
            <img *ngIf="ps.user" class="pfp" src={{this.photoService.imgURL}}>
          </div>
          <ion-badge class="new-photo" color="primary">
            <ion-icon name="camera"></ion-icon>
          </ion-badge>
        </div>
      </div>

      <ion-list class="profile-list" lines="none">
        <ion-list-header>
          <p>Your Profile</p>
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked" class="input-label" color="primary">Username</ion-label>
          <ion-input *ngIf="ps.user" disabled [(ngModel)]="ps.user.userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="input-label" color="primary">Bio</ion-label>
          <ion-textarea *ngIf="ps.user" wrap="soft" autoGrow maxlength=200 placeholder="Hi my name is ..."
            [(ngModel)]="ps.user.custom.description" (ngModelChange)="colorButton()">
          </ion-textarea>
        </ion-item>
        <ion-item routerLink="../edit-profile-details">
          <p>Edit other details</p>
        </ion-item>
        <ion-button id="save-button" shape="round" color="primary" [disabled]="changes" expand="block"
          (click)="updateUser(ps.user)">
          Save</ion-button>
      </ion-list>

      <ion-list-header>
        Gallery
      </ion-list-header>

      <div class="photo-slider-con">

        <div class="list_photos" no-bounce>

          <ion-card (click)="addPhotoToGallery()">
            <ion-icon style="color: var(--ion-color-secondary)" class="icon" name="add-circle-outline"></ion-icon>
          </ion-card>

          <ion-card *ngFor="let photo of photoService.photos; index as position">
            <ion-img class="photo" [src]="photo.webviewPath"></ion-img>
          </ion-card>



          <ion-card id="openModal" (click)="presentModal()">View all</ion-card>
        </div>
      </div>
    </div>
  </div>

</ion-content>