.skinselection-add-button{
    border-radius: 100%;
   background: var(--dark-green);
   height: 25px;
   width: 25px;
   float: right;
   margin-bottom: 5%;
}

.skinselection-description{
    width: 40vw;
   
}

.skinselection-card ion-card-title{
    height: 80%;
    font-size: 70%;
}
.skinselection-card p{
    width: 95%;
    font-size: 60%;
}
