<ion-header>
  <ion-toolbar>
    <ion-title>Skin Creator</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-skins"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked" class="input-label" color="primary">Skinname</ion-label>
    <ion-textarea  wrap="soft" autoGrow maxlength=200 placeholder="My Skinname">
    </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="input-label" color="primary">Description</ion-label>
    <ion-textarea  wrap="soft" autoGrow maxlength=200 placeholder="Describe your Skin">
    </ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class="gender_label">Mark as 18+</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  
  <ion-item>
    <ion-label position="stacked" class="input-label" color="primary">Skin image</ion-label>
    <ion-button (click)="addImage()"  wrap="soft">Add Image</ion-button>
    <img *ngIf="this.image" src="data:image/png;base64,{{this.image}}">
  </ion-item>
  



</ion-content>
