<ion-header>
  <ion-toolbar>
    <ion-title>Skin Creator</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-skins"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div  class="background" [ngStyle]= "{'background-image': 'url(data:image/png;base64,'+ image +')'}" >
      <ion-button id="fotobutton" shape="round" (click)="addImage()"  name="image" ngDefaultControl >Add Image</ion-button>
    </div>
    <div class="container">
     
     
      <div class="wrap">
        <ion-label color="primary" class="desc-label" id="name-label" >Skin name <div *ngIf="this.skin.title==''" class="required">(required)</div></ion-label>
     
          <ion-input wrap="soft" autoGrow maxlength=200 placeholder="My Skinname" [(ngModel)]="this.skin.title" name="title" ngDefaultControl>
          </ion-input>
     
      </div>
     
      <div class="wrap">
        <ion-label color="primary" class="desc-label">Description <div *ngIf="this.skin.description==''" class="required">(required)</div></ion-label>
     
          <ion-input  wrap="soft" autoGrow maxlength=200 placeholder="Describe your Skin" [(ngModel)]="this.skin.description" name="description" ngDefaultControl>
          </ion-input>
     
      </div>

      <div class="wrap">
        <ion-label color="primary" class="desc-label"  name="mature" ngDefaultControl>Mark as 18+</ion-label>
     <br>
        <ion-toggle [(ngModel)]="this.skin.mature"></ion-toggle>
     
      </div>

      <div class="wrap">
        
      <ion-label color="primary" class="desc-label">Categories</ion-label>
    <ion-select [(ngModel)]="this.skin.categories" multiple="true" placeholder="None selected" cancelText="Cancel" okText="Add">
      <ng-container *ngFor="let category of cs.categories; index as i;">
        <ion-select-option [value]="this.category">{{category.title}}</ion-select-option>
      </ng-container>
  
     
    </ion-select>
 
      </div>

      <div class="wrap">
        
     <br>
     <ion-button id="create-button" shape="round" color="primary"  expand="block" (click)="createSkin()" >
     Create</ion-button>
     
      </div>


    </div>
  </div>

  


  <!--
  <ion-item>
    <ion-label position="stacked" class="input-label" color="primary">Skin image</ion-label>
    
    <img *ngIf="this.image" src="data:image/png;base64,{{this.image}}">
  </ion-item>
  -->

  



</ion-content>
