<ion-header>
  <ion-toolbar>
    <ion-title>Skin Creator</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-skins"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="background" >
      <ion-button id="fotobutton" shape="round" (click)="addImage()"  >Add Image</ion-button>
    </div>
    <div class="container">
     
     
      <div class="wrap">
        <ion-label color="primary" class="desc-label">Skin name</ion-label>
     
          <ion-textarea  wrap="soft" autoGrow maxlength=200 placeholder="My Skinname">
          </ion-textarea>
     
      </div>
     
      <div class="wrap">
        <ion-label color="primary" class="desc-label">Description</ion-label>
     
          <ion-textarea  wrap="soft" autoGrow maxlength=200 placeholder="Describe your Skin">
          </ion-textarea>
     
      </div>

      <div class="wrap">
        <ion-label color="primary" class="desc-label">Mark as 18+</ion-label>
     <br>
        <ion-toggle></ion-toggle>
     
      </div>


    </div>
  </div>

  


  <!--
  <ion-item>
    <ion-label position="stacked" class="input-label" color="primary">Skin image</ion-label>
    
    <img *ngIf="this.image" src="data:image/png;base64,{{this.image}}">
  </ion-item>
  -->

  



</ion-content>
