<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
          {{pages.title}}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentModal()">
      <ion-button><ion-icon name="albums"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>




<ion-content id="body" [fullscreen]="true">

  <!--
  <ion-buttons id="connect">
    <ion-button>
      <ion-icon name="cog-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  -->
  <div #map id="map"></div>
  <div id="infowindow-content">
    <img id="place-icon" src=""  />
    <span id="place-name" ></span><br />
    <span id="place-address"></span>
  </div>
  <!--
    <div id="map_canvas">
  </div>
  -->
</ion-content>
<ion-footer>

  <div id="connect_button" (click)="connect()">
    <img src="../../assets/connect_img/logo/connect_button.png">
  </div>
  <!--
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/profile" routerDirection="forward">
        <ion-icon slot="end" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/contactlist" routerDirection="forward">
        <ion-icon slot="start" name="chatbox-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  -->

</ion-footer>