/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Lato'; //This is what we are going to call
    font-style: 'normal';
    font-weight: 'normal';
    src: url('./assets/font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato'; //This is what we are going to call
    font-style: 'normal';
    font-weight: 'bold';
    src: url('./assets/font/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato'; //This is what we are going to call
    font-style: 'italic';
    font-weight: 'bold';
    src: url('./assets/font/Lato/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: 'Lato'; //This is what we are going to call
    font-style: 'italic';
    font-weight: 'normal';
    src: url('./assets/font/Lato/Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato'; //This is what we are going to call
    font-style: 'normal';
    font-weight: '300';
    src: url('./assets/font/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato'; //This is what we are going to call
    font-style: 'italic';
    font-weight: '300';
    src: url('./assets/font/Lato/Lato-LightItalic.ttf');
}

@font-face {
    font-family: 'Open Sans'; //This is what we are going to call
    font-style: 'normal';
    font-weight: 'normal';
    src: url('./assets/font/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold'; //This is what we are going to call
    font-style: 'normal';
    font-weight: 'bold';
    src: url('./assets/font/Open_Sans/OpenSans-Bold.ttf');
}

/*
@font-face {
    font-family: 'Open Sans'; //This is what we are going to call
    font-style: 'italic';
    font-weight: 'bold';
    src: url('./assets/font/Open_Sans/OpenSans-BoldItalic.ttf');
}
*/

/*@font-face {
    font-family: 'Open Sans'; //This is what we are going to call
    font-style: 'italic';
    font-weight: 'normal';
    src: url('./assets/font/Open_Sans/OpenSans-Italic.ttf');
}*/

@font-face {
    font-family: 'Open Sans Semi'; //This is what we are going to call
    font-style: 'normal';
    font-weight: 600;
    src: url('./assets/font/Open_Sans/OpenSans-SemiBold.ttf');
}

:root {
    --dark-green: #0eb19b;
    --light-green: #06c777;
}


