<ion-header>
  <ion-toolbar>
    <div id="toolbar">
    <ion-title>Your MeetUps</ion-title>
    <ion-back-button defaultHref="contactlist" (click)="dismissModal()"></ion-back-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let m of this.meetups">
    <ion-card-header>
      <ion-card-title>Meetup</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <u>
        <li class = "friend" *ngFor="let f of this.friends[m.id]">
         
       <p>{{ f.seen.username }}</p>
       <p>{{f.status}}</p>
          
        </li>
      </u>
    </ion-card-content>
  </ion-card>
</ion-content>
