<ion-header>
  <ion-toolbar>
    <div id="toolbar">
    <ion-title>Your Meetups</ion-title>
    <ion-back-button defaultHref="contactlist" (click)="dismissModal()"></ion-back-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="noMeetups" *ngIf="this.meetups.length<1">
    <p>You haven't created any meetups yet!</p>
  </div>
  <ion-card *ngFor="let m of this.meetups">
    <ion-card-header>
      <ion-card-title>Meetup</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>Date & Time:</ion-card-subtitle>
      <div>
        <p>On {{this.dateService.returnDateWithoutTime(m)}} at
          {{this.dateService.returnTimeString(m)}}</p>
      </div>
      <br>
      <ion-card-subtitle>Friends:</ion-card-subtitle>
      <u>
        <li class = "friend" *ngFor="let f of this.friends[m.id]">
         
       <p>{{ f.seen.username }}</p>
       <p>{{f.status}}</p>
          
        </li>
      </u>
    </ion-card-content>
  </ion-card>
</ion-content>
