<ion-header>
  <ion-toolbar>
    <ion-title style="width:100%;">Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tag</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder=""></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Uhrzeit</ion-label>
    <ion-datetime displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  <div class="buttonBox">
    <ion-button (click)="dismissPopover()" fill="outline" size="small">Cancel</ion-button>
    <ion-button size="small">Next</ion-button>
  </div>
  

</ion-content>
