<ion-header>
  <ion-toolbar>
    <ion-title>Profile details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="edit-profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-list-header class="header">
      Your data
    </ion-list-header>

    <ion-item>
      <div class="first">
        <ion-label slot="start">First name</ion-label>
      </div>
      <ion-input *ngIf="ps.user" placeholder="Max" [(ngModel)]="ps.user.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Last name</ion-label>
      </div>
      <ion-input *ngIf="ps.user" placeholder="Mustermann" [(ngModel)]="ps.user.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Email</ion-label>
      </div>
      <ion-input *ngIf="ps.user" type="email" [(ngModel)]="ps.user.email"></ion-input>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Birthday</ion-label>
      </div>
      <ion-input *ngIf="ps.user" type="date" [(ngModel)]="ps.user.custom.birthday"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label class="gender_label">Gender</ion-label>
      <ion-select *ngIf="ps.user" value="a" interface="popover" [(ngModel)]="ps.user.custom.gender">
        <ion-select-option value="m">male</ion-select-option>
        <ion-select-option value="f">female</ion-select-option>
        <ion-select-option value="s">other</ion-select-option>
        <ion-select-option value="a">prefer not to answer</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Password</ion-label>
      </div>
      <ion-input *ngIf="ps.user" type="password" placeholder="change password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <!--
    <ion-list-header class="header">
      Notifications
    </ion-list-header>
    <ion-item>
      <ion-label class="gender_label">Messages</ion-label>
      <ion-toggle [(ngModel)]="nachrichten"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="gender_label">Connects</ion-label>
      <ion-toggle [(ngModel)]="connects"></ion-toggle>
    </ion-item>
    -->

    <ion-list-header class="header">
      Privatsphäre
    </ion-list-header>
    <ion-item routerLink="blocked-list">
      <div class="blocked" >
        <ion-label slot="start">Blockierte User</ion-label>
      </div>
    </ion-item>

    <ion-button shape="round" color="primary" expand="block" (click)="updateUser(ps.user)">Speichern</ion-button>

    <!--
    <ion-item-divider>
      <ion-label>Passwort</ion-label>

    </ion-item-divider>


    <form class="form" [formGroup]="passwort" (ngSubmit)="updatePasswort()">

      <ion-item>
        <ion-label position="stacked">Aktuelles Passwort</ion-label>
        <ion-input *ngIf="ps.user" formControlName="password" type="password" id="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Neues Passwort</ion-label>
        <ion-input *ngIf="ps.user" type="password" formControlName="newPassword" id="newPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Neues Passwort wiederholen</ion-label>
        <ion-input *ngIf="ps.user" type="password" formControlName="confirmation" id="confirm"></ion-input>
      </ion-item>
      <ion-button shape="round" color="warning" expand="block" type="submit">Passwort ändern</ion-button>

    </form>
    -->
    <ion-button shape="round" color="danger" expand="block" (click)="logout()">Loggout</ion-button>
  </ion-list>

</ion-content>