<ion-header>
  <ion-toolbar>
    <ion-title>Profile Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="edit-profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">

    <ion-list-header class="header">
      Deine Daten
    </ion-list-header>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Vorname</ion-label>
      </div>
      <ion-input *ngIf="ps.user" placeholder="Max" [(ngModel)]="ps.user.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Nachname</ion-label>
      </div>
      <ion-input *ngIf="ps.user" placeholder="Mustermann" [(ngModel)]="ps.user.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Email</ion-label>
      </div>
      <ion-input *ngIf="ps.user" type="email" [(ngModel)]="ps.user.email"></ion-input>
    </ion-item>

    <ion-item>
      <div class="first">
        <ion-label slot="start">Geburtstag</ion-label>
      </div>
      <ion-input *ngIf="ps.user" type="date" [(ngModel)]="ps.user.custom.birthday"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label class="gender_label">Geschlecht</ion-label>
      <ion-select *ngIf="ps.user" value="a" interface="popover" [(ngModel)]="ps.user.custom.gender">
        <ion-select-option value="m">männlich</ion-select-option>
        <ion-select-option value="f">weiblich</ion-select-option>
        <ion-select-option value="s">andere</ion-select-option>
        <ion-select-option value="a">keine Angabe</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header class="header">
      Benachrichtigungen
    </ion-list-header>
    <ion-item>
      <ion-label class="gender_label">Nachrichten</ion-label>
      <ion-toggle [(ngModel)]="nachrichten"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="gender_label">Connects</ion-label>
      <ion-toggle [(ngModel)]="connects"></ion-toggle>
    </ion-item>

    <ion-button shape="round" color="primary" expand="block" (click)="updateUser(ps.user)">Speichern</ion-button>
    <!-- 
    <ion-item-divider>
      <ion-label>Passwort</ion-label>

    </ion-item-divider>


    <form class="form" [formGroup]="passwort" (ngSubmit)="updatePasswort()">

      <ion-item>
        <ion-label position="stacked">Aktuelles Passwort</ion-label>
        <ion-input *ngIf="ps.user"  formControlName="password" type="password" id="password"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Neues Passwort</ion-label>
        <ion-input *ngIf="ps.user" type="password" formControlName="newPassword" id="newPassword"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Neues Passwort wiederholen</ion-label>
        <ion-input *ngIf="ps.user" type="password" formControlName="confirmation" id="confirm"></ion-input>
      </ion-item>
      <ion-button shape="round" color="warning" expand="block" type="submit">Passwort ändern</ion-button>

  </form>
  -->
    <ion-button shape="round" color="danger" expand="block" (click)="logout()">Ausloggen</ion-button>
  </ion-list>

</ion-content>