<ion-header>
  <ion-toolbar>
    <div id="toolbar">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>Chat</ion-title>
      <ion-icon id="meetupManager-icon" (click)="presentMeetupModal()" name="folder-open"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-segment (ionChange)="segmentChanged($event)" value="DM">
    <ion-segment-button value="DM">
      <ion-label>Direct Messages</ion-label>
    </ion-segment-button>
    <ion-segment-button value="MeetUpChats">
      <ion-label>Meet-Up Chats</ion-label>
    </ion-segment-button>
  </ion-segment>
  <hr>

  <ion-list id="chats">
    <ion-item class="chat" *ngFor="let room of contactService.rooms, let i = index" (click)="presentModal(room)">
      <app-detail-contactlist [room]="room"></app-detail-contactlist>
    </ion-item>
  </ion-list>
</ion-content>
