.skin-small {
    display: flex;
    flex-direction: column;
    height: 85px;
    justify-content: center;
    align-items: center;
    position: relative;
    .image {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
        border-radius: 100% 100%;
    }

    p {
        padding: 0;
        margin: 0;
        color: var(--ion-color-tertiary);
        font-family: 'Open Sans Semi';
    }

    .current {
        border: 5px solid var(--ion-color-primary);
    }

    ion-badge {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px;
        border-radius: 100%;
    }
}