<ion-card *ngIf="myskin">
  <img src="{{myskin.skin.image}}" />
  <ion-card-header>
    <div>
      <ion-card-subtitle>{{myskin.skin.follower}} Follower</ion-card-subtitle>
      <ion-card-title>{{myskin.skin.title}}</ion-card-title>
    </div>

    <ion-fab-button *ngIf="!myskin.selected" color="primary" (click)="selected()">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="myskin.selected" color="danger" (click)="selected()">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-fab-button>
  </ion-card-header>

  <ion-card-content>
    {{myskin.skin.description}}

    <div id="ranges">
      <div class="range_container">
        <h2>Suchradius</h2>
        <ion-range (mouseup)="change($event)" (touchend)="change($event)" [(ngModel)]="myskin.radius" min="1" max="10"
          step="1" pin color="secondary" id="suchradius">
          <ion-label class="range_label" slot="start">1km</ion-label>
          <ion-label class="range_label" slot="end">10km</ion-label>
        </ion-range>
      </div>
      <div class="range_container">
        <h2>Alter</h2>
        <ion-range (mouseup)="change($event)" (touchend)="change($event)" [(ngModel)]="myskin.age" min="16" max="60" pin
          color="secondary" id="suchradius">
          <ion-label class="range_label" slot="start">16 Jahre</ion-label>
          <ion-label class="range_label" slot="end">60 Jahre</ion-label>
        </ion-range>
      </div>

      <ion-button shape="round" color="danger" class="remove" expand="block" (click)="removeSkin()">Remove</ion-button>
    </div>
    <!--
<ion-item>
        <span>Niveau</span>
        <ion-range [(ngModel)]="skin.ni" min="16" max="60" pin color="secondary" id="suchradius">
          <ion-label slot="start">16 Jahre</ion-label>
          <ion-label slot="end">60 Jahre</ion-label>
        </ion-range>
      </ion-item>
      -->


  </ion-card-content>
</ion-card>