body {
    padding: 0;
    color: var(--ion-color-primary);
}

.background {
    height: 20vh;
    background-color: var(--ion-color-primary)
}

.mid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 10vh;
    align-items: center;
    margin-top: -10vh;
}

.pfp {
    object-fit: cover;
    height: 100%;
    width: auto !important;
}

.pfpBox {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}


.name {
    font-weight: bold;
    font-size: 1.7em;
}

.desc-label {
    font-weight: bold;
    font-size: 14px;
}

.descBox {
    width: 90%;
}

.wrap {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 36px;
}

.buttonBox {
    width: 90%;
    padding: 0 24px;
    margin-bottom: 36px;
}


ion-grid {
    margin-top: -15px;
    text-decoration: underline;
}

ion-toolbar {
    background-color: var(--ion-color-secondary);
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    color: rgb(153, 153, 153);

    .about {
        margin: auto;
    }
}

.space-between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.low-opacity {
    opacity: 0.7;
    margin-top: 10px;
}

.icon {
    margin-left: 10px;
    margin-right:10px;
    font-size: 32px;
}

.titleBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}