<ion-header>
  <ion-toolbar>
    <ion-title>Meetup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="background"></div>
    <div class="container">
      <div class="mid" id="profile_pic">
        <div class="pfpBox">
          <img class="pfp">
        </div>
      </div>
      <ion-label *ngIf="this.meetup.name == null " class="name">Meetup {{this.meetup.id}}</ion-label>
      <ion-label *ngIf="this.meetup.name == null " class="name">{{this.meetup.name}}</ion-label>

      <div class="wrap">
        <ion-label color="primary" class="desc-label">Members</ion-label>

        <div class="friend" *ngFor="let f of this.friends">

          <div class="space-between" *ngIf="f.user">
            <p>{{ f.user.username }}</p>
            <p>{{f.status}}</p>
          </div>
        </div>




      </div>
    </div>
  </div>


</ion-content>